@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
  margin: 0;
  font-family: 'Nunito' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #f4f4f4;
}

body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

.profile {
  padding: 3em;
  background-color: #272727;
  color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.52);
  margin: 4em;
}

.profile-img {
  width: 100px;
  height: 100px;
  border: 2px solid #EF3C59;
  border-radius: 100%;
  display: block;
  margin-left: auto;

}

.profile-info {
  float: left
}

.post {
  border-radius: 7px;
  border: 1px solid rgba(239, 60, 90, 0.055);
  background-color: #ffffff;
  color: black;
  padding: 20px;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.52);
  transition-duration: 0.3s;
}

.post:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.post-image {
  max-width: 100px;
}

.rate {
  padding: 0.3em;
  color: #EF3C59;
  border: 1px solid #c5c5c5;
  border-radius: 7px;
  padding: 1em;
  float: right;
  transition-duration: 0.2s;
}

.rate:hover {
  color: white;
  background-color: #181818;
  border: 1px solid #EF3C59;
  cursor: pointer;
  transform: scale(0.85);
}

.rate2 {
  padding: 0.3em;
  color: white;
  background-color: #EF3C59;
  border: 1px solid #EF3C59;
  border-radius: 7px;
  padding: 1em;
  float: right;
  transition-duration: 0.2s;
}

.rate2:hover {
  color: #EF3C59;
  background-color: #181818;
  border: 1px solid #c5c5c5;
  cursor: pointer;
  transform: scale(0.85);
}

.rate-number {
  font-weight: 600;
  padding: 0.5em;
  vertical-align: super;
}

.icon {
  transition-duration: 0.1s;
  float: right;
  padding-right: 10px;
}

.icon:hover {
  color: #EF3C59;
  cursor: pointer;
}

.navbar {
  background-color: #272727;
  z-index: 1000 !important;
}

.navbar-brand {
  color: #EF3C59 !important;
}

.nav-link {
  color: white !important;
  transition-duration: 0.2s;
}

.nav-link:hover {
  color: #EF3C59 !important;
}

.create-post {
  background-color: white;
  padding: 2em;
  margin: 3em;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.52);
  border-radius: 7px;
}

input[type="file"] {
  display: none;
}

.btn {
  background-color: #181818 !important;
  border: 1px solid rgb(239, 60, 90) !important;
}

.btn:hover {
  background-color: #EF3C59 !important;
}

.btn-modal-primary {
  background-color: #EF3C59 !important;
}

.btn-modal-primary:hover {
  background-color: #181818 !important;
}

.btn-modal-secondary {
  background-color: #181818 !important;
  float: right;
  border: none !important;
}

.modal-header {
  border: none !important;
}

.modal-content {
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);
  border: none !important;
}

.comment-pic {
  max-width: 40px;
  max-height: 40px;
  margin: 0.3em 1em;
  border-radius: 25px;
}

.section-modal {
  background-color: #f7f7f7;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);

  
}

.modal-image {
  max-width: 100% !important;
  border-radius: 10px;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  margin: 3em auto;
}

.modal-dialog {
  max-width: 600px !important;
}

.search-bar {
  background-color: #181818 !important;
  border: 1px solid #272727 !important;
}

.search-bar:hover {
  border: 1px solid #EF3C59 !important;
}

.search-bar:focus {
  border: 1px solid #EF3C59 !important;
  color: white !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.collapse,
.collapsing {
  position: absolute !important;
  z-index: 999;
  background-color: #272727 !important;
  color: white;
  padding: 1em 2em;
  margin-top: 1em;
  border: 1px solid #EF3C59 !important;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.6);
  min-width: 300px;
}

.background-layer {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
}

.center-msg {
  font-size: 50px;
  color: rgba(32, 32, 32, 0.397);
  text-align: center !important;
  display: block;
  margin-top: 3em;
}

.register {
  max-width: 600px !important;
}

.search-result {
  padding: 1.3em;
  color: white;
}

.search-result:hover {
  background-color: #2e2e2e !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin: -0.5em 1em;
}

.section-modal:hover .penBg{
  display :block !important;

}
.penBg{
  display :none !important;
}

.penBg:hover{
  background: #EF3C59;
 
  border-radius: 4px;
  padding: .5em;
  color: white;

}


