@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Nunito");

@media only screen and (max-width: 768px) {
  .filters {
    position: relative !important
  }

  .post-body {
    margin-left: 10%;
  }

  .post-rate {
    margin-right: 5%;
  }

  .post-image {
    max-width: 90% !important;
    max-height: 500px;
  }

  .comment .ui .heart {
    padding-top: 1em;
    margin-left: 0.9em !important;
    margin-right: 0.6em !important;
  }

  .comment .ui .button {
    max-width: 5em;
    padding-top: 0 
  }

  .profile-img {
    margin: auto;
    margin-bottom: 1.3em;
  }

  .profile-info {
    text-align: center
  }

  .ui.left {
    max-width: 1em;
  }
}

@media only screen and (max-width: 1065px) {
  .side-col {
    display: none !important
  }
}

@media only screen and (min-width: 1066px) {
  .side-col {
    display: block !important
  }
}

.filters {
  position: fixed 
}

body {
  margin: 0 !important;
  font-family: 'Nunito' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile {
  padding: 3em;
  background-color: #272727;
  color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.52);
  margin: 4em;
}

.profile-img {
  width: 100px;
  height: 100px;
  border: 2px solid #EF3C59;
  border-radius: 100%;
  display: block;
  margin-left: auto;
}

.profile-info {
  float: left
}

.post {
  border-radius: 7px;
  border: 1px solid #94949444;
  background-color: #ffffff;
  color: black;
  padding: 1em !important;
  transition-duration: 0.3s;
}

.post:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.post-image {
  max-width: 130px;
  border-radius: 5px !important;
  margin: 0.7em;
}

.rate {
  background-color: #ffffff00 !important;
  padding: 0.3em;
  color: #7e7e7e75;
  border-radius: 7px;
  padding: 1em;
  float: right;
  transition-duration: 0.2s;
}

.rate:hover {
  color: #EF3C59;
  cursor: pointer;
  border: none;
  transform: scale(0.85);
}

.rate-color {
  color: #7e7e7e75;
}

.rate-color:hover {
  color: #EF3C59;
}

.rate2-color {
  color: #EF3C59;
}



.rate2 {
  background-color: #ffffff00 !important;
  padding: 0.3em;
  color: #EF3C59;
  border-radius: 7px;
  padding: 1em;
  float: right;
  transition-duration: 0.2s;
}

.rate2:hover {
  cursor: pointer;
  transform: scale(0.85);
}

.rate-number {
  font-weight: 700;
  font-size: 1.5em;
  padding: 0.5em;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
  transition-duration: 0.1s;
  float: right;
  padding-right: 10px;
}

.icon:hover {
  color: #EF3C59;
  cursor: pointer;
}

.navbar {
  background-color: #272727;
  z-index: 1000 !important;
}

.navbar-brand {
  color: #EF3C59 !important;
}

.nav-link {
  color: white !important;
  transition-duration: 0.2s;
}

.nav-link:hover {
  color: #EF3C59 !important;
}

.create-post {
  background-color: white;
  padding: 2em;
  margin: 3em;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.52);
  border-radius: 7px;
  max-width:500px !important;
}

input[type="file"] {
  display: none;
}

.btn {
  background-color: #181818 !important;
  border: none !important
}

.btn:hover {
  background-color: #EF3C59 !important;
}

.btn-modal-primary {
  background-color: #EF3C59 !important;
}

.btn-modal-primary:hover {
  background-color: #181818 !important;
}

.btn-modal-secondary {
  background-color: #181818 !important;
  float: right;
  border: none !important;
}

.modal-header {
  border: none !important;
}

.modal-content {
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
  border: none !important;
}

.avatar img, .comment-pic {
  max-width: 40px;
  max-height: 40px;
  border-radius: 25px !important;
}


.section-modal {
  background-color: #f7f7f7;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.4);


}

.modal-image {
  border-radius: 10px;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  margin: 1em
}

.modal-dialog {
  max-width: 600px !important;
}

.search-bar {
  background-color: #181818 !important;
  border: 1px solid #272727 !important;
}

.search-bar:hover {
  border: 1px solid #EF3C59 !important;
}

.search-bar:focus {
  border: 1px solid #EF3C59 !important;
  color: white !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.collapse,
.collapsing {
  position: absolute !important;
  z-index: 999;
  background-color: #272727 !important;
  color: white;
  padding: 1em 2em;
  margin-top: 1em;
  border: 1px solid #EF3C59 !important;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.6);
  min-width: 300px;
}

.background-layer {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
}

.center-msg {
  font-size: 50px;
  color: rgba(32, 32, 32, 0.397);
  text-align: center !important;
  display: block;
  margin-top: 3em;
}

.register {
  max-width: 600px !important;
}

.search-result {
  padding: 1.3em;
  color: white;
}

.search-result:hover {
  background-color: #2e2e2e !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin: -0.5em 1em;
}

.section-modal:hover .penBg {
  display: flex !important;
  transition-duration: 0.3s;
}

.penBg {
  display: none !important;
  padding: .5em;

}

.penBg:hover {
  background: #EF3C59;
  cursor: pointer;
  border-radius: 4px;
  padding: .5em;
  color: white;
}



.logo-load {
  max-width: 50% !important;
}


.details-post {
  margin: 0.4em;
  margin-left: 0;
  padding: 0.3em;
  padding-top: 0.7em;
  border-radius: 7px;
  color: rgba(90, 90, 90, 0.63);
}

.details-post:hover {
  background-color: rgba(201, 201, 201, 0.288);
}

.post-username {
  color: #EF3C59 !important;
}

.comment-name {
  color: black !important;
}

.modal-header {
  padding-bottom: 0 !important;
}

.create-url {
  border-radius: 4em !important;
  padding: 1.5em !important;
  font-size: 2em !important;
  margin-top: 250px !important;
}

.paste-button {
  height: 86x;
  margin-top: 250px;
  border-radius: 4em !important;
  font-size: 2em !important;
  background-color: #EF3C59 !important;
  transition-duration: 0.3s !important;
  padding: 0.8em !important;
  letter-spacing: 5px;
}

.paste-button:hover {
  background-color: #181818 !important;
}

.alert-url {
  position: flex;
  font-size: large;
  margin-top: 150px !important;
  font-weight: 600;
  letter-spacing: 2px;
  animation-name: redBlink;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-duration: 0.8s;
  font-size: 40px;
  float: center;
  margin-bottom: -195px;
}

@keyframes redBlink {
  from {
    color: black
  }

  to {
    color: red
  }
}

.bfifxy {
  max-width: 100% !important;
  border-radius: 4.5em;
}

.hNTVMq {
  padding: 15px !important;
}

.not-clickable {
  pointer-events: none;
}


.post-hashtag {
  color: #EF3C59 !important;
}

.post-hashtag:hover {
  text-decoration: none !important;
  font-weight: bold;
  background: rgba(201, 201, 201, 0.288);
  border-radius: .23em;
}

.Toastify__toast--success {
  background-color: #EF3C59 !important;
}

.Toastify__toast--error {
  background-color: #212020 !important;
}


.ui.red.button, .ui.red.buttons .button{
  background-color: #EF3C59 !important;
  
}

.ui.basic.red.label, .ui.basic.red.button{
  color: #EF3C59 !important;
  border-color:  #EF3C59 !important;
}

.link-side-section {
  color: #2e2e2e !important;
}

.number-view-side-section {
  color: #EF3C59 !important;
}

.most-viewed-post {
  margin-bottom: 0.6em;
}

.side-section {
  margin-right: 0.8em;
  max-width: 200px;
}

.error {
  color: #EF3C59;
}