html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.light-mode {
  background-color: #f4f4f4 !important;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #202020 !important;
  color: #dfdfdf;
  .navbar {
    background-color: #212020;
  }

  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}

.light-mode .animated i {
  color: white !important
}

.dark-mode .ui.threaded.comments .comment .comments {
  box-shadow: -1px 0 0 rgba(194, 194, 194, 0.3) !important;
}

.dark-mode h6,.dark-mode i,.dark-mode .content .author ,.dark-mode h4,.dark-mode h3, .text, time {
  color: #dfdfdf !important
}

.light-mode .profile-info h6 {
  color: #999 !important
}

.light-mode h6, .light-mode h4, .light-mode i, .light-mode .text {
  color: black !important;
}

.light-mode .navbar h4 {
  color: #EF3C59 !important
}

.light-mode time {
  color: #999 !important
}

.dark-mode .rate2 .fa-star {
  color: #EF3C59 !important
}

.dark-mode .rate .fa-star {
  color: #dfdfdf !important
}

.dark-mode .details-post {
  color: #dfdfdf!important
}

.dark-mode .post {
  background-color: #212020 !important;
}

.dark-mode .toggle-control {
  background: #272727;
}

.dark-mode .modal-content {
  background-color: #202020;
  color: #dfdfdf;
}

.dark-mode .container {
  background-color: #202020;
  color: #dfdfdf;
}

.dark-mode .modal .container {
  background-color: #202020;
  color: #dfdfdf;
}

.dark-mode .comment-name {
  color: #EF3C59 !important;
}

.dark-mode .ui.button {
  background-color: #202020;
  color: #dfdfdf;
  border: 1px solid #dfdfdf44;
}
.dark-mode .ui.button:hover {
  background-color: #202020;
  color: #dfdfdf;
  border: 1px solid #dfdfdf44;
}

.dark-mode .ui.dropdown .menu {
  background-color: #181818;
  color: #dfdfdf;
}

.dark-mode .rate2-color {
  color: #EF3C59 !important;
}

.dark-mode span {
  color: #dfdfdf;
}

.modal.dark-mode {
  background-color: #181818;
  color: #dfdfdf;
}

body.dark-mode input {
  background-color: #dfdfdf;
}

body.dark-mode .content code {
  background-color: #1b2938;
}

body.dark-mode .content a {
  color: #ee09;
}

body.dark-mode .content button {
  color: #ee09;
}

html.dark-mode {
  background-color: #181818;
  color: #dfdfdf;
}

.dark-mode-toggle {
  display: flex;
  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #666;
    }

    &:focus {
      outline: none;
    }
  }
}

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
  background-color: rgba(51, 51, 51, 0) !important;
}

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;

  &:checked + label {
    left: 30px;
  }

  &:focus-visible {
    outline: solid 2px white;
  }

  & + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: #f6f6f6;
  }
}
